.wrap {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.authForm {
  width: 438px;
}

.authForm > h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 20px;
}

.authForm > p {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(18, 20, 23, 0.8);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.form > input {
  width: 100%;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  height: 54px;
  outline: none;
}

.form > input:focus {
  border-color: #f4c550;
}

.form > span {
  font-size: 12px;
  color: #d80027;
}

.form > button {
  margin-top: 20px;
  height: 54px;
  border-radius: 12px;
  border: none;
  background: #f4c550;
  font-weight: 700;
  cursor: pointer;
}

.switchText {
  margin-top: 20px;
  font-size: 14px;
}

.switchText button {
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* ===== PASSWORD FIELD ===== */

.passwordField {
  position: relative;
  width: 100%;
}

.passwordField input {
  width: 100%;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 48px 16px 18px; /* місце справа для іконки */
  height: 54px;
  outline: none;
}

.passwordField input:focus {
  border-color: #f4c550;
}

/* ===== EYE BUTTON ===== */

.eyeBtn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;

  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeBtn svg {
  width: 22px;
  height: 22px;
}
