.header {
  background: #fff;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 64px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #121417;
  margin-left: 64px;
}

.logoText {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.nav {
  display: flex;
  align-items: center;
  gap: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
  margin-left: 160px;
}

.link {
  text-decoration: none;
  color: #121417;
  transition: color 0.2s ease;

  &:hover {
    color: #000000; // темніший чорний
  }

  &:focus {
    color: #000000;
    outline: none;
  }

  &:visited {
    color: #121417; // щоб не ставав фіолетовим
  }
}

.active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 67px;
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
  white-space: nowrap;
}

.loginBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 16px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;

  &:hover {
    background: #121417;
    color: #fff;
  }
}

.loginIconWrap {
  display: inline-flex;
  align-items: center;
}

.registerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 39px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;

  &:hover {
    background: #121417;
    color: #fff;
  }
}
