.section {
  padding: 64px 0;
  background-color: #f8f8f8;
  min-height: calc(100vh - 88px); // Віднімаємо висоту хедера
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  width: 100%;
}

.empty,
.message,
.loader {
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
  color: #121417;
}
